.preloaders {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.loader-1 {
    border: 20px solid rgb(177, 177, 177);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-top: 20px solid rgb(53, 255, 177);
    animation: spin 3s ease infinite;
}
@keyframes spin {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(720deg);}
    70% {transform: rotate(520deg);}
    100% {transform: rotate(360deg);}
}

.loader-2 {
    border: 20px solid rgb(177, 177, 177);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-top: 20px solid rgb(53, 73, 255);
    border-bottom: 20px solid rgb(255, 161, 53);
    animation: spin 5s ease infinite;
    animation-delay: .5s;
}

.loader-3 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(0, 200, 255);
    animation: dissappear 2.5s ease-out infinite;
}
@keyframes dissappear {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.loader-4 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(0, 128, 68);
    animation: jump 2s infinite;
}
.loader-4:nth-of-type(2) {
    animation-delay: .2s;
}
.loader-4:last-of-type {
    animation-delay: .4s;

}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(50px);
        background-color: rgb(217, 167, 1);
    }
    100% {
        transform: translateY(0px);
        background-color: rgb(0, 128, 68);
    }   
}